@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import "./fonts.scss";
@import "./menu.scss";

html {
  font-family: Graphik, Arial, Helvetica, sans-serif;
}

.slider {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

