#nav-mobile__toggle {
  cursor: pointer;
}
.nav-mobile__box {
  display: none;
}
.nav-mobile__hidden {
  display:block;
}

.nav-mobile_active {
  .nav-mobile__box {
    display: block;
  }
  .nav-mobile__hidden {
    display:none;
  }
}